{#
/**
 * @file
 * Bartik's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}


  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
        {{ page.header }}
  </header>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  {% if page.hero_side %}
      {{ page.hero_side }}
  {% endif %}


  {#
  <section id="hero" class="d-flex align-items-center">
    <div class="container text-center position-relative aos-init aos-animate" data-aos="fade-in" data-aos-delay="200">
      <h1>Your New Online Presence with Bethany</h1>
      <h2>We are team of talented designers making websites with Bootstrap</h2>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
    </section>
    #}
  
  <!-- End Hero -->

  <main id="main">

    <!-- ### base content -->
  
    {{ page.content }}
    {#{ content }#}


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  
  <footer id="footer">
        {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
          <div class="footer-top">
            <div class="container">
              <div class="row">

                {% if page.footer_first %}
                  <div class="col-lg-3 col-md-6 footer-contact">
                    {{ page.footer_first }}
                  </div>
                {% endif %}

                {% if page.footer_second %}
                  <div class="col-lg-2 col-md-6 footer-links">
                    {{ page.footer_second }}
                  </div>
                {% endif %}

                {% if page.footer_third %}
                  <div class="col-lg-3 col-md-6 footer-links">
                    {{ page.footer_third }}
                  </div>
                {% endif %}

                {% if page.footer_fourth %}
                  <div class="col-lg-4 col-md-6 footer-newsletter">
                    {{ page.footer_fourth }}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endif %}

        {% if  page.footer_fifth_copyright  or page.footer_fifth_reseau_sociaux %}
          <div class="container d-md-flex py-4">
          {% if page.footer_fifth_copyright %}
              <div class="me-md-auto text-center text-md-start">
                {{ page.footer_fifth_copyright  }}
              </div>
          {% endif %}

          {% if page.footer_fifth_reseau_sociaux %}
              <div class="social-links text-center text-md-right pt-3 pt-md-0">
                {{ page.footer_fifth_reseau_sociaux }}
              </div>
          {% endif %}
          </div>
        {% endif %}

  </footer>
